  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@700&family=Poppins&family=Roboto:wght@900&family=Titillium+Web:ital,wght@0,200;0,900;1,300&display=swap');
.peakcherGlobalDev {
  position: relative;
}

.peakcherGlobalDev img {
  width: 100%;
}
.peakcherDev h1 {
  color: #274C5B;
  font-family: roboto;
  font-size: 50px; 
  line-height:50px
}
.peakcherDev {
  position: absolute;
  top: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%
}
