/* left side */
.container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
}

.leftSideGlobalDiv {
    width:30%;
    margin: 0 auto;
    z-index: 500;
}

.leftSideDiv {
    margin-bottom: 25px;
    margin-right: -100px;
}
.leftSideGlobalDiv h3 {
    text-align:right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    color: #274B5A;
    margin-left: 0px;
    z-index: 5;
}

.leftSideGlobalDiv p {
    font-family: Open Sans;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: right;
    color: #525C60;
    z-index: 5;
  
}

.leftSideGlobalDiv img {
  display: flex;
  justify-content: flex-end;
  display: -webkit-box;
  margin-left: auto;
  z-index: -1;
}

/* center */
.centerDiv  {
    /* width:30%; */
}
/* right-side */
.rightSideGlobalDiv {
    width:30%;
    margin: 0 auto;
    z-index: 500;
}

.rightSideDiv {
    margin-bottom: 25px;
    margin-left: -60px;
 
}
.rightSideDiv h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    color: #274B5A;
    z-index: 5;
}

.rightSideDiv  p {
    font-family: Open Sans;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #525C60;
    z-index: 5;
}
.rightSideDiv img {
display: flex;
justify-content: flex-end;
display: -webkit-box;
margin-right: auto;
z-index: -1;
}
.btn {
    margin:0 auto;
    color: red;
    text-align: center;
}
.btnDiv {
    margin: 0 auto;
    border: 1px solid green;
    text-align: center;
}