.banner{
    max-width: 1920px;
    position: relative;
    margin-bottom: 50px;
    
}

.banner img{
    width: 100%;
}
.headerBlock{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 100px;
}

.header{
    font-family: 'Roboto', sans-serif;
    color: #274C5B;
    font-size: 60px;
    line-height: 82px;
    font-weight: 800;
    text-transform: capitalize;
   
}
