.common { 
      /* width: 1920px;
      display: flex;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      overflow-y: hidden; */
      width: 100%;
      overflow-y: hidden;
}
.styleGuide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e3f1e9;
  height: 250px;
}
.styleGuide div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightPattern {
  margin-right: 129px;
}
.leftPattern {
  margin-left: 140px;
}
.styleGuideP {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #274c5b;
}
.colors {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}
.colorWord {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 41px;
  color: #274c5b;
  margin-right: 200px;
}
.blueDark div {
  width: 139px;
  height: 148px;
  margin-right: 40px;
  background: #274c5b;
  border-radius: 11px;
}
.background {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 120px;
}
.colorsDivs {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin-bottom: 55px;
}
.greenDark div {
  width: 139px;
  height: 148px;
  margin-right: 40px;
  background: #7eb693;
  border-radius: 11px;
}
.YellowDark div {
  width: 139px;
  height: 148px;
  margin-right: 40px;
  background: #efd372;
  border-radius: 11px;
}
.GrayDark div {
  width: 139px;
  height: 148px;
  margin-right: 40px;
  background: #d4d4d4;
  border-radius: 11px;
}
.WhiteDark div {
  width: 139px;
  height: 148px;
  margin-right: 40px;
  background: #f9f8f8;
  border-radius: 11px;
}
.GrayLight div {
  width: 139px;
  height: 148px;
  margin-right: 40px;
  background: #eff6f1;
  border-radius: 11px;
}
.BlackLight div {
  width: 139px;
  height: 148px;
  margin-right: 40px;
  background: #525c60;
  border-radius: 11px;
}
.hex {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #274c5b;
  margin-top: 16px;
  margin-bottom: 55px;
}
.texts {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-right: 250px;
}
.textStyle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 41px;
  color: #274c5b;
  margin-right: 150px;
  text-align: center;
}
.h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 82px;
  color: #274c5b;
  margin-bottom: 70px;
}
.h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  color: #274c5b;
  margin-bottom: 70px;
}
.h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 47px;
  color: #274c5b;
  margin-bottom: 70px;
}
.h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 41px;
  color: #274c5b;
  margin-bottom: 70px;
}
.h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
  color: #274c5b;
  margin-bottom: 70px;
}
.h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  color: #274c5b;
  margin-bottom: 70px;
}
.paragraphs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}
.paragr {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 41px;
  color: #274c5b;
  margin-left: 180px;
}
.p1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  margin-left: 130px;
  color: #525c60;
}
.ul {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  margin-right: 130px;
  color: #525c60;
  list-style-type: number;
}

.list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 41px;
  color: #274c5b;
  margin-right: 250px;
}
.quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}
.quotesText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 41px;
  color: #274c5b;
  margin-right: 150px;
}
.quotes div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 69px 59px;
  background: #f1edea;
  border-radius: 30px;
  width: 500px;
  margin-right: 100px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
  margin-left: 180px;
}
.buttonText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 41px;
  color: #274c5b;
  margin-right: 150px;
}
.button div {
  display: flex;
  flex-wrap: wrap;
  margin-right: 100px;
}
.defaultButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 20px;
  background: #274c5b;
  border-radius: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-right: 44px;
  margin-bottom: 40px;
  color: #ffffff;
}
.defaultButton img {
  width: 19px;
  height: 19px;
  margin-left: 10px;
  background: #335b6b;
}
.defaultButton2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 20px;
  background: #efd372;
  border-radius: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-right: 44px;
  margin-bottom: 40px;
  color: #274c5b;
}
.defaultButton2 img {
  width: 19px;
  height: 19px;
  margin-left: 10px;
  background: #335b6b;
}
.defaultButton3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 20px;
  border-radius: 16px;
  background: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-right: 44px;
  margin-bottom: 40px;
  color: #274c5b;
}
.defaultButton3 img {
  width: 19px;
  height: 19px;
  margin-left: 10px;
  background: #335b6b;
}
.defaultButton4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 20px;
  background: #274c5b;
  border-radius: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-right: 44px;
  margin-bottom: 40px;
  color: #ffffff;
}
.defaultButton4 img {
  width: 19px;
  height: 19px;
  margin-left: 10px;
  background: #335b6b;
}
.orange {
  width: 80%;
  margin: 50px 0;
  background-image: url("../img/orange.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter {
  margin-left: 71px;
}
.newsletter p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;

  color: #ffffff;
}
.form {
  margin-right: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form input {
  padding: 12px 24px;
  background: #ffffff;
  border-radius: 16px;
  border: none;
  margin-right: 6px;
}
.form button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background: #274c5b;
  border-radius: 16px;
  border: none;
}
.form button:hover {
  cursor: pointer;
}
.icon {
  margin-left: 10px;
  color: #335b6b;
  background-color: white;
  border-radius: 50%;
}
.icon1 {
  margin-left: 10px;
  color: #335b6b;
  background-color: white;
  border-radius: 50%;
}
@media screen and (max-width: 821px) {
  .orange {
    display: flex;
    flex-direction: column;
  }
  .form {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form input {
    margin-bottom: 20px;
  }
  .quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  .quotesText {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  .quotes div {
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
  }
  .paragraphs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  .ul {
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
  }

  .paragr {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-left: 100px;
  }
  .text {
    margin-left: auto;
    margin-right: auto;
  }
  .textStyle {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .p1{
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .h1 {
    margin-left: auto;
    margin-right: auto;
  }
  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .colorWord {
    margin-bottom: 20px;
  }
  .colorsDivs {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: auto;
  }
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .buttonText {
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  .button div {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-left: 140px;
  }
  .colorWord {
    margin-left: auto;
    margin-right: auto;
  }
  .form{
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  }
  .form button {
    font-size: 25px;
    color: #f9f8f8;
  }
  .form input{
    padding: 20px 40px;
    font-size: 20px;
  }
}
@media screen and (max-width: 380px) {
  .colorsDivs{
    margin-left:100px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
   align-items: center;
  }
  .background{
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  .colorWord{
    margin-left: auto;
    margin-right: auto;
  }
  .textStyle{
    font-size: 30px;
  }
  .h1{
    font-size: 35px;
  }
  .h2{
    font-size: 30px;
  }
  .h3{
    font-size: 25px;
  }
  .h4{
    font-size: 20px;
  }
  .h5{
    font-size: 15px;
  }
  .h6{
    font-size: 10px;
  }
  .paragr{
    font-size:30px;
    margin-right: auto;
    margin-left: auto;
  }
  .p1{
    font-size: 14px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 8px;
  }
  .list{
    font-size: 30px;
  }
  .ul{
    margin-left: auto;
    margin-left: auto;
    padding: 0 29px;
    font-size: 15px;
  }
  .quotesText{
    font-size: 30px;
  }
  .quotes{
    padding: 0 25px;
  }
  .quotes div{
    margin-left: auto;
    margin-right: auto;
    width: 230px;
  }
  .buttonText{
    margin-left: auto;
    margin-right: auto;
  }
  .newsletter p{
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }
  .form{
    margin-left: auto;
    margin-right: auto;
  }
  .form input{
    font-size: 20px;
    padding: 8px 16px;
  }
  .orange{
    margin-left: auto;
    margin-right: auto;
  }
  .styleGuide div{
    display: flex;
    flex-wrap: wrap;
  }
  .leftPattern {
    width: 100px;
    height: 100px;
    padding-bottom: 10px;
  }
  .rightPattern{
    width: 100px;
    height: 100px;
  }
  .styleGuideP{
    font-size: 35px;
  }
  @media screen and(min-width:1920px){
    /* .common{
      width: 1920px;
      display: flex;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      overflow-y: hidden;
    } */
    /* .common{
      width: 100%;
      overflow-y: hidden;
    } */
  }
}
