* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    max-width: 1920px;
}

@font-face {
    font-family: Roboto;
    src: url(../../components/fonts/Roboto.ttf);
}

@font-face {
    font-family: Yellowtail;
    src: url(../../components/fonts/Yellowtail.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../../components/fonts/OpenSans.ttf);
}

.WhoWeAre {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 931px;
    max-width: 1920px;
    margin-top: 100px;
    margin-left: 0px;
    background-image: url(/src/components/images/WhoWeAre.jpg);
    background-repeat: no-repeat;
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    width: 65%;
    height: 700px;
    margin-top: 20px;
    margin-left: 860px;
    border-radius: 20px;
    padding: 50px 50px 50px 50px;
    background-color: white;
}

.Image {
    width: 50%;
    height: 300px;
    background-image: url(../../components/images/WhoWeAre.jpg);
}

.Content p {
    width: 166px;
    height: 49px;
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #7EB693;
}

.Content span {
    width: 100%;
    height: 118px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #274C5B;

}

.Content ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    width: 635px;
    height: 358px;

}

.Content li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 7px;
    width: 100%;
    height: 96px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Content ul li h5 {

    width: 323px;
    height: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #274C5B;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Content ul li h2 {

    width: 635px;
    height: 60px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 165.4%;
    color: #525C60;

}

.BottomGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 187px 0px;
    gap: 10px;
    max-width: 1920px;
    height: 957px;
    left: 0px;
    background: #F1F8F4;
}

.BottomGallery ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 3rem;
    width: 100%;
    height: 100%;
}

.BottomGallery ul li button:hover {
    transition: 1s;
    background-color: #acacac;
}

.BottomGallery ul li button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 33px 83px 34px;
    gap: 9px;
    width: 56%;
    height: 96px;
    margin-top: 70%;
    margin-left: 20%;
    border: 2px solid #ffffff;
    background: #FFFFFF;
    border-radius: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #274C5B;
}

.BottomGallery ul li:first-child {

    width: 33%;
    height: 688px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../components/images/Photo.jpg);
}

.BottomGallery ul li:nth-child(2) {

    width: 33%;
    height: 688px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../components/images/Photo2.jpg);
}

.BottomGallery ul li:nth-child(3) {

    width: 33%;
    height: 688px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../components/images/Photo3.jpg);
}

.BottomBlog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 46px;
    max-width: 1920px;
    height: 592px;
}

.BlogContent {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px;
    width: 100%;
    height: 175px;
    padding-left: 180px;
    margin-top: 101px;
}

.BlogContent p {
    position: relative;
    left: -100px;
    width: 68px;
    height: 49px;
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #7EB693;
}

.BlogContent h4 {
    position: relative;
    left: -100px;
    width: 702px;
    height: 118px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 59px;
    color: #274C5B;
}

.BlogBtn {
    border: 2px solid #274C5B;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 28px 45px 29px;
    width: 300px;
    margin-left: 1000px;
    margin-top: -70px;
    height: 80px;
    background: #FFFFFF;
    border: 2px solid #274C5B;
    border-radius: 16px;
}

.BlogBtn:hover {
    background-color: darkgray;
    transition: 1s;
}

.BlogBtn span {
    position: relative;
    left: 0px;
    width: 102px;
    height: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #274C5B;
}

.BlogBlog {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    gap: 4rem;
    max-width: 1920px;
    height: 592px;
    margin-top: 104px;
}

.BlogFirst {
    margin-left: -50px;
    width: 40%;
    height: 600px;
    background-image: url(/src/components/images/BlogPhoto1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    z-index: -1;
}

.BlogFirst p {
    width: 80px;
    height: 82px;
    opacity: 1;
    z-index: 1;
    margin-left: 70px;
    margin-top: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: #274C5B;
    font-family: Roboto;
}



.BlogFirstText {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 26px 57px 60px;
    gap: 10px;
    width: 75%;
    height: 380px;
    margin-left: 170px;
    margin-top: 100px;
    background-color: #FFFFFF;
    box-shadow: 0px 20px 35px rgba(167, 167, 167, 0.25);
    border-radius: 31px 34px 30px 30px;
}

.BlogFirstText img {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: -25px;
    margin-top: -263px;
    background: #ffffff;
}

.BlogFirstText span {
    position: absolute;
    width: 20%;
    margin-top: -256px;
    margin-left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #274C5B;
}

.BlogFirstText h4 {
    margin-left: -30px;
    margin-top: 100px;
    width: 100%;
    height: 29px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 29px;
    color: #274C5B;
}

.BlogFirstText h2 {
    position: relative;
    top: 30px;
    left: -30px;
    width: 100%;
    height: 62px;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 165.4%;
    color: #525C60;

}

.BlogFirstText button {
    background-image: url(../../components/images/ButtonBlog.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 28px 47px 29px;
    width: 70%;
    height: 80px;
    margin-left: 10px;
    margin-top: 70px;
    border-radius: 16px;
    border: 2px solid white;
    cursor: pointer;
}

.BlogSecond {
    width: 40%;
    height: 600px;
    background-image: url(/src/components/images/BlogPhoto2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px 20px 20px 20px;
}

.BlogSecond p {
    width: 80px;
    height: 82px;
    opacity: 1;
    z-index: 1;
    margin-left: 70px;
    margin-top: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: #274C5B;
    font-family: Roboto;
}

.BlogSecondText {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 46px 57px 60px;
    gap: 10px;
    z-index: 1;
    width: 75%;
    height: 380px;
    margin-left: 170px;
    margin-top: 100px;
    background-color: #FFFFFF;
    box-shadow: 0px 20px 35px rgba(167, 167, 167, 0.25);
    border-radius: 31px 34px 30px 30px;
}

.BlogSecondText img {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: -25px;
    margin-top: -283px;
    background: #ffffff;
}

.BlogSecondText span {
    position: absolute;
    width: 111px;
    margin-top: -276px;
    margin-left: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #274C5B;
}

.BlogSecondText h4 {
    margin-left: -30px;
    margin-top: 26px;
    width: 100%;
    height: 29px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 29px;
    color: #274C5B;
}

.BlogSecondText h2 {
    margin-top: 20px;
    margin-left: -30px;
    width: 100%;
    height: 62px;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 165.4%;
    color: #525C60;

}

.BlogSecondText button {
    background-image: url(../../components/images/ButtonBlog.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 28px 47px 29px;
    width: 70%;
    height: 80px;
    position: relative;
    margin-left: 10px;
    margin-top: 50px;
    border-radius: 16px;
    border: 2px solid white;
    cursor: pointer;

}


/* Responsive */
@media screen and (max-width: 1500px) {
  
    .Content {
        padding-right: 100px;
    }
    .BottomGallery {
        width: 100%;
    }
    .BlogBtn {
        margin-top: -100px;
        margin-left: 580px;
    }

    .BlogFirst {
        margin-left: 10px;
    }

    .BlogSecond {
        margin-left: 0px;
    }

    .BlogSecondText {
        left: 700px;
    }

    .BlogFirstText h4 {
        margin-top: 50px;
    }

}

@media screen and (max-width: 1200px) {
    .WhoWeAre {
        padding-right: 50px;
    }

    .Content ul li h2 {
        width: 400px;
    }

    .BlogBtn {
        margin-top: -50px;
        margin-left: 530px;
    }

}

@media screen and (max-width: 1000px) {
    .WhoWeAre {
        width: 100%;
        top: 1700px;
    }

    .Content {
        height: 900px;
    }

    .Content p {
        margin-top: -50px;
    }

    .Content span {
        font-size: 30px;
        line-height: 50px;
        width: 100%;
        margin-top: -40px;
    }

    .Content ul {
        width: 300px;
        gap: 7rem;
    }

    .Content ul li {
        width: 100%;
    }

    .Content ul li h5 {
        margin-bottom: 20px;
        width: 64%;
    }

    .Content ul li h2 {
        line-height: 23px;
        margin-top: 10px;
        width: 60%;
    }

    .BottomGallery {
        height: 2000px;
    }

    .BottomGallery ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 5rem;
        height: 100%;
    }

    .BottomBlog {
        margin-left: -50px;
    }

    .BlogBlog {
        margin-top: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .BlogBtn {
        margin-top: 30px;
        margin-left: -70px;
    }

    .BlogFirst {
        margin-top: 200px;
    }


    .BlogFirstText img {
        margin-top: -400px;
    }

    .BlogFirstText span {
        margin-top: -390px;
    }

    .BlogFirstText {
        gap: 4rem;
        height: 500px;
    }

    .BlogSecondText img {
        margin-top: -400px;
    }

    .BlogSecondText span {
        margin-top: -390px;
    }

    .BlogSecondText {
        gap: 4rem;
        height: 500px;
    }

    .BlogContent h4 {
        width: 100%;
        font-size: 35px;
    }

}

@media screen and (max-width: 500px) {
    .WhoWeAre {
        margin-top: 300px;
        height: 1400px;
    }

    .Content {
        margin-top: -400px;
        margin-right: -50px;
        width: 70%;
        padding: 50px 10px 20px 30px;
    }

    .Content p {
        margin-top: -50px;
    }

    .Content span {
        font-size: 30px;
        line-height: 50px;
        width: 100%;
        margin-top: -40px;
    }

    .Content ul {
        margin-top: 10px;
        width: 200px;
        gap: 12rem;
    }

    .Content ul li {
        width: 100%;
    }

    .Content ul li h5 {
        width: 64%;
    }

    .Content ul li h2 {
        padding-top: 25px;
        line-height: 20px;
        width: 60%;
    }

    .BottomGallery {
        height: 2000px;
    }

    .BottomGallery ul {
        width: 100%;
        padding: 50px;
    }

    .BottomGallery ul li:first-child {
        width: 100%;
    }

    .BottomGallery ul li:nth-child(2) {
        width: 100%;
    }

    .BottomGallery ul li:nth-child(3) {
        width: 100%;
    }

    .BlogBtn {
        margin-left: -100px;
        margin-top: 150px;
    }

    .BlogBlog {
        margin-top: 700px;
        width: 500px;
        left: -300px;
    }

    .BlogFirst {
        margin-top: -300px;
        margin-left: 10px;
    }


    .BlogFirstText {
        width: 300px;
        margin-left: -20px;
    }

    .BlogFirstText img {
        width: 100px;
        margin-left: -55px;
    }

    .BlogSecond {
        margin-top: 100px;
        margin-left: 10px;
    }


    .BlogSecondText {
        width: 300px;
        margin-left: -20px;
    }

}
