.protected_container{
    max-width: 1920px;
}

.protected_title{
    width: 100%;
    height: 296px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E3F1E9;
    gap: 5vw;
}

.protected_title h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 3vw;
    line-height: 59px;
    color: #274C5B;
}

/* password-block-style */


.passvord_parent_block{
    width: 60%;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0px 39px 37px rgba(196, 196, 196, 0.25);
    border-radius: 30px;
    margin: 150px auto;
    position: relative;
    overflow: hidden;
}

.authorize_block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.send_btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    width: 9vw;
    height: 40px;
    background: #274C5B;
    border-radius: 16px;
    margin-top: 26px;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1vw;
    line-height: 23px;
    color: #FFFFFF;
}



.css-i4bv87-MuiSvgIcon-root {
    user-select: none;
    width: 1vw;
    height: 1vw;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5vw;
    border-radius: 50%;
    color: #FFFFFF;
}

.img_block img{
    border-radius: 30px;
    width: 80%;
}

form{
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

label{
    padding-bottom: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 21px;
    color: #274C5B;
}

.authorize_block input{
    box-sizing: border-box;
    text-indent: 20px;
    width: 25vw;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #7EB693;
    border-radius: 16px;
}

/* protected-media-style */

@media screen and (max-width: 992px) {
    .protected_title h2{
        font-size: 3.5vw;
    } 

    .passvord_parent_block{
        width: 80%;
    }

    .authorize_block input{
        width: 30vw;
    }

    label{
        font-size: 1.5vw;
    }

    form{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .send_btn{
        width: 10vw;
    }
}

@media screen and (max-width: 768px) {
    .protected_title h2{
        font-size: 4vw;
    } 

    .authorize_block input{
        width: 35vw;
    }

    label{
        font-size: 2vw;
    }

    form{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .send_btn{
        width: 15vw;
        font-size: 2vw;

    }

}

@media screen and (max-width: 375px) {
    .protected_title h2{
        font-size: 25px;
        line-height: 35px;
    } 

    .authorize_block input{
        width: 250px;
    }

    .authorize_block{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    label{
        font-size: 18px;
    }

    form{
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .send_btn{
        width: 130px;
        font-size: 14px;
    }

    .passvord_parent_block{
        width: 80%;
        height: 520px;
    }

    .img_block img{
        border-radius: 30px;
        margin-bottom: 15px;
        width: 100%;
    }
}

@media screen and (max-width: 280px) {
    .protected_title{
        width: 363px;
    }
    .protected_title h2{
        font-size: 25px;
        line-height: 35px;
    } 

    .authorize_block input{
        width: 200px;
    }

    .authorize_block{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    label{
        font-size: 18px;
    }

    form{
        width: 100%;
        position: relative;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .send_btn{
        width: 130px;
        font-size: 14px;
    }

    .passvord_parent_block{
        width: 363px;
        height: 520px;
    }

    .img_block img{
        border-radius: 30px;
        margin-bottom: 15px;
        width: 100%;
    }
}