.mainPicture {
   max-width: 100%;
}
.title {
   margin: -230px 0px 0px 0px;
   align-self: center;
   text-align: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 800;
   font-size: 70px;
   line-height: 82px;
   color: #274C5B;
}

@media(max-width:1440px) {
   .title {
      padding: 50px 0px 20px 0px;
      font-size: 55px;
   }
}

@media(max-width:991.98px) {
   .title {
      padding: 80px 0px 0px 0px;
   }
}

@media(max-width:767.98px) {
   .title {
      font-weight: 700;
      font-size: 35px;
      line-height: 67px;
      text-align: center;
      padding: 120px 0px 0px 0px;
   }
}

@media(max-width:576.98px) {
   .title {
      font-size: 36px;
      padding: 140px 0px 0px 0px;

   }
}

@media(max-width:357.98px) {
   .title {
      padding: 140px 0px 9px 120px;
      font-size: 32px;
   }
}